.cartItemsCard {
  position: fixed;
  right: 0px;
  width: 600px;
  height: 100vh;
  background-color: #1a1a1a;
}

.cartItemsNotClicked {
  display: none;
}

.cartIconInCard {
  width: 600px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartName {
  position: absolute;
  color: white;
  margin-left: 65px;
  margin-top: 10px;
  font-size: 25px;
}

.cartItemsBlock {
  height: 450px;
  overflow-y: scroll;
}

.cartItemsWithOutOverFlow {
  height: 450px;
}

.cartEmptyMsg {
  color: yellowgreen;
  font-size: 25px;
  margin-left: 150px;
  margin-top: 150px;
}
