.product {
  width: 300px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product:hover {
  border: 1px solid #d9d9d9;
  cursor: pointer;
}

.productImage {
  width: 300px;
  height: 450px;
}

.productTitle {
  margin: 20px;
  font-size: larger;
  text-align: center;
}

.addToCartButtonStyle {
  outline: none;
  width: 250px;
  height: 45px;
  margin: 20px;
  border: none;
  background-color: black;
  color: aliceblue;
  font-size: 18px;
}

.product:hover .addToCartButtonStyle {
  background-color: yellowgreen;
}

.installmentsTextColor {
  color: #777777;
}

.freeShippingText {
  position: absolute;
  margin-top: -300px;
  margin-left: 100px;
  width: 80px;
  height: 20px;
  color: white;
  background-color: black;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
