.CartIconWithNumber {
  position: fixed;
  right: 0px;
  width: 90px;
  height: 80px;
  text-align: center;
  background-color: black;
}

.moveCartIcon {
  position: fixed;
  right: 600px;
  width: 90px;
  height: 80px;
  text-align: center;
  background-color: black;
}

.crossIcon {
  height: 80px;
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crossIcon:hover {
  cursor: pointer;
}

.CartIconWithNumber:hover {
  cursor: pointer;
}
